<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/99035ba4e5.js" crossorigin="anonymous"></script>
    <title>login</title>
</head>

<body>
    <header>
        <div class='logo-header'>
            <figure class="img-logo">
                <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="" class="logo"></a>
                
            </figure>
            <form action="" class="buscador">
                
                <input type="search" name="busquedamusica" placeholder="articulo">
                <button type="submit"><i class="fas fa-search"></i></button>
        
        </form>
            <div class="promo">
                <i class="fas fa-hand-holding-usd"> comprá en cuotas y sin tarjetas de crédito</i>
            </div>
        </div>

        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="menu">
            <ul class='menu-shop'>
                <li><a href="home">Ofertas</a> </li>
                <li><a href="#">Tienda Oficiales</a></li>
                <li><a href="#">Vender</a> </li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class='menu-login'>
                <li><a href="register">Creá tu cuenta </a> <i class="far fa-address-card"></i></li>
                <li><a href="login">Ingresá </a> <i class="fas fa-share-square"></i></li>
                <li><a href="#">Mis Compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2 class="secciones-titulo-formulario">Formulario de registro</h2>
        <form action="" method="post" class="form-registro">
            <div>
                <input type="text" id="nombre" name="nombre" class="control" placeholder="Nombre de usuario" required>
            </div>
            <div>
               
                <input type="password" id="user" name="user" class="control" placeholder="Elegí tu contraseña" required>
            </div>
            <div class="div-btn-login">
                <button type="submit" class="btn">Enviar</button>
            </div>
        </form>
    </main>
    <footer>
        <div class="footer">
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </div>
        <div class="footer">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </div>
        <div class="footer">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegida.</p>
        </div>
    </footer>
    <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</body>

</html>