*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:white;
    font-size: 12PX;
    line-height: 1.5em;
}
h2{
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    font-size: 35px;
    
}

header {
    background-color: #EAC926;
    padding: 5px;
    position: fixed;
    top:0;
    width: 100vw;
    height: 190px;
    z-index: 99;
  
}
main{
    margin-top: 190px;
    margin: auto;
}
section{
    height: auto;
}

.logo-header {
    width: 95vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.img-logo{
    width: 100%;
}

.logo {
    width: 100%;
}
.buscador{
    margin: 10px;
    padding: 5px;
}


.burger-menu {
    background-color: #03264C;
    color: white;
    display: block;
    width: 30px;
    padding: 5px;
    border: radius 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.menu {
    display: none;
}

ul li {
    list-style: none;

}

ul li a {
    color: #222222;
    text-decoration: none;
    transition: all 500ms;
}

ul li a:hover{
    color: #2D3277;
    font-size: 18px;
    letter-spacing: 1px;
}
    
figure a{
    display: block;
    width: 100%;
    
}

.menu-login i {
    color: #222222;
}
.banner{
    margin-top: 190px;
}
.banner img{
    width: 100%;
  
    
}
/************************************************/
/************formulario************************/
.secciones-titulo-formulario{
    margin-top: 220px;
}
form {
    padding: 20px 15px;
    margin: 15px;

}

form button {
    text-align: center;
}

form div {
    margin-bottom: 15px;
}

form div label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.form-registro {
    border-radius: 5px;
    width: 40%;
    margin: 30px auto;
    background-color: #ebebeb;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
}
/****************************** elimino el comentario por fuera del boton y lo coloco en el interior de boton ************************/
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'seleccione un archivo';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
/******************************************************/
/*estilos a los inputs*/
.control {
    width: 100%;
    padding: 8px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
/*estilos a los type=radio y checkbox dandoles un margen izquierdo*/
.check{
    padding-left: 25px;
    
}
.div-btn {
    text-align: center;
}
.div-btn-login button{
    width: 100%;
}

.btn {
    background-color: #2D3277;
    border: none;
    font-size: 20px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    width: 120px;

}
/**********************************/
/***************** ARTICULOS **********************/
.articulo{
    display: flex;
    justify-content:center ;
    align-items: center;
    position: relative;
    text-align: center;
    background-color: #fff;
    margin: 5px auto;
    padding: 15px;
    width: 50%;
    border-radius: 5px;
    line-height: 0.3em;
    box-shadow: 0px 0px 10px rgb(100,100,100);
    transition: all 450ms ease-out;
     
}

.descripcion{
    display: none;
}
.capa{
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: auto;
    position: absolute;
    background-color:grey;
    border-radius: 3px ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 450ms;
    opacity: 0;
}



.articulo:hover{
    transform: translate(-5px,-5px);
    /* display:block; */   
}


.articulo:hover .descripcion{
    display: block;
}
.btn-hover-comprar{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    
    
}
.btn-hover-comprar{
    display: none;
    
} 
.articulo:hover .btn-hover-comprar{
    transition: all 450ms ease-out;
    display: block;
}
.btn-hover-comprar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #2D3277;
    transition: all 450ms ease-out;
    z-index: 9999;
    margin: 5px;
    position: relative;
}
.articulo:hover .btn-hover-comprar {
    display: block;
}
.btn-hover-comprar a i{
    color: #2D3277;
    font-size: 14px;
}
.capa:hover{
    opacity: 0.3;
    z-index: 100;
    
}

.capa a:hover{
    display: block;
    opacity: 1;
    letter-spacing: 1.5px;
}
.articulo img{
    width: 50%;
}
.img-footer{
    text-align: left;
    border-top: 1px solid #ebebeb;
    margin:15px 5px 5px 5px;
    padding:20px 5px 5px 5px;
    display: none;
    position: relative;
}
/**********************************************************/
/***** efecto hover para el mobimiento del camion *********/
/***********************************************************/

/* use porcentaje en el desplazamiento para que en todos los dispocitivos esten en el mismo lugar */
@keyframes camion{
    0%{ top:-15;right:45%px;}
    50%{top:-15; right: 5%;}
    100%{ top:-15;right:45%;}
    
}
/* -webkiy para chrome y -moz para firefox */
.articulo:hover .camion-movimiento{
    -webkit-animation: 1500ms camion 1;
    -moz-animation: 1500ms camion 1;
  }
.icon-envio{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px; 
    display: inline-flex;
    
    }

.icon-envio i{
    color: green;
    margin: auto;
    
}

.secciones-titulo{
    font-size: 24px;
    text-align: center;
    margin: 20px;
}
.precio{
    display: inline-block;
    text-align:right;
    width: 25%;
    font-size: 18px;
    margin-right: 1%;
    padding: 5px;
}
.descuento{
    display: inline-block;
    text-align: left;
    width: 50%;
    font-size: 12px;
    padding: 5px;
    margin-left: 40px;
    color: green;
}
.descripcion{
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    padding: 3px;

}
img{
    display: block;
    margin: auto;
    border-radius:5px;
    
}
.icon{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

/**************************************************************/
/********************* FOOTER**********************************/
.footer{
    text-align: center;
    padding: 10px;
    line-height: 1em;
}
footer{
   
    margin-top: 40px auto;
    
    
}
footer h3{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin: 5px;
}
footer p{
    text-align: center;
    
}
.copy{
    background-color: dimgrey;
    height: 30px;
    padding:10px 0 ;
    margin-bottom: 0;
    text-align:center;
    color: #fff;
}
footer i{
    color:#2D3277;
    font-size: 2em;
    transition: all 500ms;
}
footer i:hover{
    color:rgb(255, 38, 0);
    font-size: 2.5em;
}



@media (min-width:328px){
   
    .form-registro {
        width: 90%;
        padding: 5px;
        margin: 5px auto;
        align-items: center;
    }
    .img-footer{
        display: none;
    }
    .descripcion{
        font-size:12px;
    }
    .logo-header {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .img-logo, .buscador, .promo {
        width: 45%;
        margin: 5px 3px 0 0;
        padding: 0;
    }
    
   .promo i {
        font-size: 12px;
        max-width: 250px;
        text-align: right;
    }
    
    .articulo{
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
}
@media (min-width:768px) {

    .logo-header,
    .menu {
     
        margin: auto;
    }
    .img-logo, .buscador, .promo {
        width: 30%;
        margin: 10px 3px 0 0;
        padding: 0;
    }
.img-footer{
    display: block;
}
    .burger-menu {
        display: none;
    }

    .menu {
        display: flex;
        margin: 10px 0;
        justify-content: space-between;
    }

    .menu ul {
        display: flex;
    }

    .menu li {
        margin: 8px;
    }
    .form-registro {
        width: 60%;
        padding: 10px;
        margin: 5px auto;
        max-width: 600px;
    }
    section{
        margin: 6%;
    }
    .articulo{
        width: 45%;
        display: inline-block;
        margin: 2%;
        
    }
}

@media (min-width:1200px) {
    
    .logo-header,
    .menu {
        max-width: 1200px;
        margin: auto;
    }
    .img-logo, .buscador,.promo  {
        width: 30%;
        margin: 10px 3px 0 0;
    }
    .promo i{
        font-size: 24px;
    }
    
    main{
        max-width: 1200px;
    }
    
    footer{
        display: flex;
        justify-content: center;
        margin: auto;
        max-width: 1200px;
    }
    .logo-header{
        justify-content: space-between;
        align-items: center;
    }
    .menu{
        margin-top: 30px;
    }
    
    .menu li {
        margin: 0 15px;
    }
    
    .menu a {
        font-size: 19px;
    }
    
   
    section{
        display: flex;
        justify-content: space-between;
    }
   
    .articulo{
        width: 23%;
        display: inline-block;
        margin: 0.5%;
        
    }
    
}